<%- include("partials/header.ejs") %>
<section class="cards">
    <div class="album py-5">
      <div class="container">  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% for( let element = 0; element < 12; element++ ) { %>
            <% if (final[element].urlToImage && final[element].url) { %>              
              <div class="col-sm-12 col-md-6 col-lg-4 play">
              <div class="card shadow-md show">
                <a class="url" href=<%= final[element].url%>>
                <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src=<%= final[element].urlToImage %>  alt="img" >               
                 <div class="card-body">
                    <h4><%=final[element].title%></h4>
                    <p class="card-text"><%=final[element].description%></p>
                  <div class="d-flex justify-content-between align-items-center">                
                    <small class="text-muted">
                     <% const time = new Date(final[element].publishedAt).toLocaleString("en-US" , { 
                        timeZone : "Asia/Jakarta"
                      }); %>
                      <%= time %> <strong class="mx-2"> <%=final[element].source.name%> </strong>
                    </small>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <% }%>
        <% } %>
        </div>   
      </div>
    </div> 
</section>
<%- include("partials/footer.ejs") %>
<script>
var leng=document.querySelectorAll(".nav-item").length;
let i=0;
while(i<leng)
{
    document.querySelectorAll(".nav-item")[i].addEventListener("click" , handleclick);
    i++;
}
function handleclick()
{
  console.log(this.innerHTML);
  console.log($(this).attr("id"));
  const choose = $(this).attr("id");
  animate(choose);
}
function animate(action)
{
    console.log(action);
    $("#"+action).css("text-decoration" ,"underline solid black 3px");
    setTimeout(function(){
        $("#"+action).css("text-decoration" ,"none");
    },5000);
}
</script>   
    











